[2020-10-23 18:39] SpencerDawkins opened #1 "Proxying a single IP address, or an IP subnet?"
There is a question whether "IP proxying" means proxying an IP subnet, as opposed to proxying a single IP address.

This question was discussed on the MASQUE mailing list during the adoption call for this draft. @DavidSchinazi asked me to open a Github issue for it.

The adoption call mail thread starts at https://mailarchive.ietf.org/arch/msg/masque/cpcXQVBjpMQLbHMGpyAJCucEg3A/. I believe the fir

[2020-10-23 18:54] SpencerDawkins opened #2 "Linking Requirements to the Use Cases with those requirements"
This draft contains a list of use cases (with descriptions) and a list of requirements (with descriptions).

It isn't obvious to me which requirements come from which use cases. My suggestion would be to link each requirement to the use cases that require it.

One way to accomplish that, would be tagging each requirement with the section numbers/xrefs for the use cases that require it. Other ways

[2020-10-23 20:27] DavidSchinazi commented on #1
My thought is that we'll define a way to proxy IP packets, not addresses. However, during negotiation the new protocol will need the ability to negotiate addresses, similar to DHCP. The most common use case will most likely be one where the client connects and the proxy assigns it one address (along with configuring gateway, routes, DNS, etc.). However, I believe that we should support the use cas

[2020-11-11 12:49] gloinul commented on #1
@DavidSchinazi I think we should dig more into what the implications are of proxying a subnet compared to an address that comes from a range provided by the MASQUE server. I think these differences are significant and have impact on what is required for safe general deployment of the protocol.

So if one proxying a single IP address borrowed from the MASQUE server then;
 - Source Address validatio

[2020-11-11 13:05] gloinul opened #3 "In Network to Network proxying, why does the MASQUE Server need a subnet address?"
Section 3.6:

   Similarly, to support the network-
   to-network use case, the server will be able to request assignment of
   an IP address range from the client, and the client will either
   assign a range or decline the request.

Can you elaborate why the Server would need an IP address from the Client's network? The client will need to be a gateway in the client side network to be able to re

[2020-11-11 13:07] gloinul opened #4 "3.6. Identity: Whay type of identity?"
B. Section 3.6:

I do understand the need for some identify. The server first of all to allow the client to determine it is communicating with the right MASQUE server. However for the identification of the client, is that likely at all to be a domain name? Isn't that a user name, or some other form of authorization to use the resource.

[2020-11-11 13:09] gloinul opened #5 "Section 3.8: Authorization requirements"
C. Section 3.8 in this context I think there are more than the MASQUE endpoint that needs authoriztion if network to network proxying would happen. Also, extension to OAUTH, doesn't that require work in another WG? It looks like more explanation of what the needs are that prompt the need for extending the authorization protocol.

[2020-11-11 13:18] gloinul opened #6 "Section 3.10: Flow control control surface"
I don't see an issue with a tunnel protocol being used without flow control. If one overwhelm either of the MASQUE client or server that is equal to congestion in the network. I think the question of flow control is a question of what mode the client want the QUIC tunnel to operate in depending on the path characteristics. In most cases I would assume an unreliable tunneling is sufficient, however

[2020-11-11 13:25] gloinul opened #7 "Congestion Control on outer QUIC connection"
During IETF 108 there was some discussion about turning off congestion control under the assumptions that IP traffic is congestion controlled. This is something that generally have been considered as acceptable in IETF. However, if this is considered a requirements discussion of this should be added. As this might also require extension of QUIC itself to turn off congestion control for some QUIC s

[2020-11-11 13:27] gloinul opened #8 "Indistingushible requirement"
I think a general VPN use would result in a traffic pattern that would be distinguishable from encrypted HTTPS Web traffic. Is only wire format the goal here? Some clarification would be desirable.

[2020-11-11 13:30] gloinul opened #9 "Load balancing over multiple QUIC connections and servers?"
Do I interpret this section correctly that it requires a IP session to be split from a client to server over multiple QUIC connections or even two MASQUE servers? Especially if it is the later that is the case that will imply additional functionality for path selection on a sub IP session flow level to avoid reordering within such subflows. Even the first one can result in need for a reordering bu

[2020-11-20 10:29] chris-wood opened #10 "Add a requirement for extensibility"
During IETF 109, @tfpauly suggested that an extension be added that allow deployments to negotiate that the "full" version of IP proxying not be implemented. Such an extension might negotiate the use of IP header compression, for example. It might be worth adding this to the requirements document.

[2020-11-20 10:40] chris-wood opened #11 "Consider removing load balancing requirement"
During IETF 109, @martinthomson pointed out that this requirement cuts a little too much into the solution space. There seemed to be support for removing this (controversial) bit as part of the core requirements.

[2020-11-20 11:04] tfpauly commented on #10
I don't think it would negotiate not _implementing_ to the full IP proxying. I think full IP proxying can always be the baseline, but rather than it must allow extensions to negotiate doing compression or other performance optimizations.

[2020-11-20 11:08] chris-wood commented on #10
Poor choice of words on my part (lateness of the hour). Your phrasing is basically what I was after.

[2020-11-20 11:09] DavidSchinazi commented on #10
What does "full IP proxying" mean here? Not compressing the IP header?

[2020-11-20 15:07] gloinul commented on #10
If you are keeping all the IP header then its tunneling and not proxying. Because you are encapsulating the packet in QUIC and then decapsulating it.

[2020-11-24 00:32] DavidSchinazi commented on #10
I think this is backwards. The requirement is for a protocol that can send encapsulated unmodified IP packets. Compressing IP headers sounds like a very useful extension, but you always need to be able to send uncompressed packets when compression fails.

[2020-11-24 10:38] gloinul commented on #10
I do think calling it full proxying is wrong. However, I think we are running into an issue in that we don't have definitions for what is tunneling, and what is proxying.

To me tunneling is only encapsulation and then decapsulation. This implies no rewrite of any of the inner headers by the MASQUE client or server. I think the network to network use cases are aiming for pure tunneling as the sour

[2020-11-24 16:19] SpencerDawkins commented on #10
This was discussed during chartering, so it's not a new point of confusion, and it's confused people in both IETF and 3GPP within the past 7 days, so @gloinul and I aren't the only ones who are still confused.

I agree with @gloinul about tunneling being encapsulation and decapsulation (and I'm pretty sure that's almost a universal understanding in the INT area).

If you're talking about rewriting

[2020-11-24 19:01] DavidSchinazi commented on #10
I agree that "full proxying" is not defined, and I'd prefer to not use that term at all.

Regardless of terminology, I personally think that the minimum viable product here is a system that transfers IP packets unmodified. There is a clear use case for that, and any modification to IP headers or payloads should be left to extensions (to be clear, these extensions will be incredibly useful to the p

[2020-12-16 17:46] mirjak opened #12 "IP Assignment and Non-requirement on Address Architecture"
The document currently states as a non-requirement:

`It does not discuss how the IPs assigned are determined, managed, or translated.`

However, at the same time there is a requirement on IP assignment. It's actually bit unclear to me what this non-requirement is meaning.

Further I think, there is more then just the proxy or client requesting an IP address. It might be okay for the proxy to sele

[2020-12-16 17:52] mirjak opened #13 "Requirement on proxying unmodified packets"
The first requirement says:

"The protocol will establish Data Transports, which will be able to forward IP packets, in their unmodified entirety."

This reads like IP packet can only be forwarded unmodified. This seems too restrictive for a requirement, as it wouldn't even allow any kind of preconfigured compression. I'm not even sure if we need a requirement to have an option to forward unmodifi

[2020-12-16 17:56] mirjak opened #14 "Non-requirement on IP address extraction"
The text says

`How packets are forwarded between the IP proxying connection and the physical network is out of scope. This is deliberately not specified and will be left to individual implementations.`

It's actually not really clear to me what this mean. Can you further explain?

[2020-12-16 18:04] mirjak commented on #13
I should probably open a separate issue on terminology but I just realised that what I proposed as Forwarding Association, is probably what you call an IP session in the draft. So in the sentence above it should probably say IP session instead of Data Transport...?

Also you use IP proxying and IP session and IP proxying session so what interchangeable in the draft. I think it would helpful to be

[2020-12-16 18:06] mirjak opened #15 "Document organisation: which requirement only apply to IP proxying (but not UDP proxying)?"
Most requirement listed actually equally apply to UDP proxying and IP proxying. I think it would be helpful to separate out those requirements that only apply to IP proxying and then have a more focused discussion about those.

[2020-12-17 17:30] DavidSchinazi commented on #12
@mirjak can you clarify what the problem is? Currently assignment is in-scope, determining the address is not.

[2020-12-17 17:31] DavidSchinazi commented on #14
@mirjak One way this can be accomplished is using a TUN interface, but there are others way to do it, and we don't want to prescribe implementation details. Does that help?

[2020-12-17 17:35] DavidSchinazi commented on #13
From my perspective, unmodified forwarding is a requirement, whereas any kind of transformation (such as compression) is a nice-to-have. Requiring unmodified forwarding and allowing transformation via extensions is a more robust design than requiring some kind of compression and leaving unmodified to future work - because if you have unmodified you can fall back to it when your compressor fails, w

[2020-12-17 17:36] DavidSchinazi commented on #15
I don't see UDP proxying as relevant to this draft, why do you want to separate out requirements that happen to be met by CONNECT-UDP?

[2020-12-17 18:03] mirjak commented on #12
I was more wondering about the work "translated" here because I think we need to discuss address translation. However, I'd probably say that if e.g. the client is providing an IP address range that would be covered for me as how the proxy "determines" the address. Maybe the wording is just not clear here. Maybe this needs to be explained more what the concern/intention is here. I rather, however,

[2020-12-17 18:06] mirjak commented on #14
Okay that's makes sense. However, do we really need to list this as a non-requirement? If so, adding examples might help.

[2020-12-17 18:08] mirjak opened #16 "Clarify terminology"
IP proxying and IP session and IP proxying session are used so what interchangeable in the draft. Also the use of IP session compared to Data Transport is not always clear. Do we really need both terms. I think it would helpful to be more clear about terminology. I would also prefer a term like forwarding association or maybe forwarding session.

[2020-12-17 18:11] mirjak commented on #13
I think which one should be the default depends on the use case. I guess we maybe want to have both.

However, why do you think that your compressor could fail? I guess it strongly depends on how you compress, however, a compressor should not fail more easily than the rest of the protocol.

[2020-12-17 18:12] mirjak commented on #15
Because I think only does that are specific to IP proxying are the ones that are interesting for discussion. For already other requirement we should simply do the same thing as we do for UDP proxying.

[2020-12-17 18:17] DavidSchinazi commented on #13
That depends on how you build your compressor, I've implemented compressors in the past that would compress specific packets because they were the most common and let the uncommon ones go uncompressed.

[2020-12-17 18:17] DavidSchinazi commented on #14
To me, listing non-requirements is just as important as listing requirements. If you don't do that, you end up with infinite feature creep.

[2020-12-17 18:19] DavidSchinazi commented on #15
I don't follow. This document discusses requirements for IP proxying. CONNECT-UDP has nothing to do with this.

[2021-01-07 20:31] achernya commented on #5
I don't understand what you're asking for/suggesting here. Could you please elaborate what you mean when you say "more [...] that needs authorization"?

I do not believe there needs to be an extension to OAuth, so I do not see why work would be needed in another WG. The current text uses OAuth as a possible implementation of authentication. I see now in the draft text that OAuth looks much more ma

[2021-01-07 22:53] achernya commented on #4
I think the client identity is free to be a username, token, email address, or some other identifier. As written, the text says "For example, [...] a fully-qualified domain name.".

[2021-01-07 22:55] achernya commented on #6
Since MASQUE allows reliable streams and unreliable datagrams to be mixed within a single QUIC connection, I think the collection of MASQUE documents (but not necessary the IP Proxying requirements or its implementation) needs to provide guidance on flow control decisions and implications. I have personally been assuming thus far that providing control surfaces is a better option than being opinio

[2021-01-07 22:56] achernya commented on #8
What sort of clarification would be helpful? The current text explicitly states "Traffic analysis is out of scope for this requirement.".

[2021-01-07 23:05] achernya commented on #7
@vasilvv likely has thoughts on this.

[2021-01-07 23:35] achernya commented on #12
I agree with @DavidSchinazi that I do not see a problem here. I do not think we need to discuss address translation; can you describe a use case that informs requirements here that would not be well-served considering the current components out-of-scope?

[2021-01-07 23:38] achernya commented on #14
I'm a bit confused by the title of this issue versus the discussion. The title discusses IP *address* extraction, but the discussion is about physical network handling of the IP packets (e.g., with a TUN device or similar).

I'm not sure what sorts of examples can be added here. I'm open to including the text "Implementations can use technologies such as TAP/TUN devices, RAW sockets, or similar to

[2021-01-07 23:40] achernya commented on #15
I don't see an issue with the IP proxying and UDP proxying having similar, overlapping requirements documents. I would be more concerned about the final implementation/design documents if they contained redundant information.

[2021-01-08 15:55] mirjak commented on #12
During chartering we discussed the use case where NAT is a way to conceal the client IP address from the server for privacy purposed. In this case the client neesd to be sure that the proxy does NAT. Another case is WebRTC where the client needs to know the outfacing port and address of the proxy. These are also cases that I would like to see considered and supported and seem to be excluded by thi

[2021-01-08 15:56] DavidSchinazi commented on #1
We wrote text in [draft-ietf-masque-ip-proxy-reqs-01](https://tools.ietf.org/html/draft-ietf-masque-ip-proxy-reqs-01) that should address this issue.

[2021-01-08 15:56] #1 closed

[2021-01-08 15:56] DavidSchinazi commented on #3
We wrote text in [draft-ietf-masque-ip-proxy-reqs-01](https://tools.ietf.org/html/draft-ietf-masque-ip-proxy-reqs-01) that should address this issue.

[2021-01-08 15:56] #3 closed

[2021-01-08 15:56] DavidSchinazi commented on #4
We wrote text in [draft-ietf-masque-ip-proxy-reqs-01](https://tools.ietf.org/html/draft-ietf-masque-ip-proxy-reqs-01) that should address this issue.

[2021-01-08 15:56] #4 closed

[2021-01-08 15:56] DavidSchinazi commented on #5
We wrote text in [draft-ietf-masque-ip-proxy-reqs-01](https://tools.ietf.org/html/draft-ietf-masque-ip-proxy-reqs-01) that should address this issue.

[2021-01-08 15:56] #5 closed

[2021-01-08 15:56] DavidSchinazi commented on #6
We wrote text in [draft-ietf-masque-ip-proxy-reqs-01](https://tools.ietf.org/html/draft-ietf-masque-ip-proxy-reqs-01) that should address this issue.

[2021-01-08 15:56] #6 closed

[2021-01-08 15:57] DavidSchinazi commented on #7
We wrote text in [draft-ietf-masque-ip-proxy-reqs-01](https://tools.ietf.org/html/draft-ietf-masque-ip-proxy-reqs-01) that should address this issue.

[2021-01-08 15:57] #7 closed

[2021-01-08 15:57] DavidSchinazi commented on #8
We wrote text in [draft-ietf-masque-ip-proxy-reqs-01](https://tools.ietf.org/html/draft-ietf-masque-ip-proxy-reqs-01) that should address this issue.

[2021-01-08 15:57] #8 closed

[2021-01-08 15:57] DavidSchinazi commented on #9
We wrote text in [draft-ietf-masque-ip-proxy-reqs-01](https://tools.ietf.org/html/draft-ietf-masque-ip-proxy-reqs-01) that should address this issue.

[2021-01-08 15:57] DavidSchinazi commented on #10
We wrote text in [draft-ietf-masque-ip-proxy-reqs-01](https://tools.ietf.org/html/draft-ietf-masque-ip-proxy-reqs-01) that should address this issue.

[2021-01-08 15:57] #10 closed

[2021-01-08 15:57] DavidSchinazi commented on #11
We wrote text in [draft-ietf-masque-ip-proxy-reqs-01](https://tools.ietf.org/html/draft-ietf-masque-ip-proxy-reqs-01) that should address this issue.

[2021-01-08 15:57] #11 closed

[2021-01-08 15:57] DavidSchinazi commented on #13
We wrote text in [draft-ietf-masque-ip-proxy-reqs-01](https://tools.ietf.org/html/draft-ietf-masque-ip-proxy-reqs-01) that should address this issue.

[2021-01-08 15:57] #13 closed

[2021-01-08 15:57] DavidSchinazi commented on #14
We wrote text in [draft-ietf-masque-ip-proxy-reqs-01](https://tools.ietf.org/html/draft-ietf-masque-ip-proxy-reqs-01) that should address this issue.

[2021-01-08 15:57] #14 closed

[2021-01-08 15:57] DavidSchinazi commented on #16
We wrote text in [draft-ietf-masque-ip-proxy-reqs-01](https://tools.ietf.org/html/draft-ietf-masque-ip-proxy-reqs-01) that should address this issue.

[2021-01-08 15:57] #16 closed

[2021-01-08 15:58] DavidSchinazi commented on #15
Closing this issue as CONNECT-UDP is not in scope for the draft-ietf-masque-ip-proxy-reqs.

[2021-01-08 15:58] #15 closed

[2021-01-08 15:58] mirjak commented on #14
If this text is not about network handling as David indicated, then I still don't what the text is about (and obviously David also didn't understand it correctly) and it needed to be further explained, please!

[2021-01-08 15:59] achernya commented on #12
I just re-read the charter text -- the only mention of NAT is "Impacts on [...] NAT rebinding [...] are not anticipated".

I believe the current text allows for the NAT or IP/port binding to be done as extensions. All the current draft states is that it's outside the scope of the core protocol, as it is a complex and involved topic. Would you like to see a sentence afterwards that such discussion

[2021-01-08 16:00] DavidSchinazi commented on #12
@mirjak The client does not need to know that the proxy is using NAT, the client only needs to know that its assigned IP address doesn't leak privacy information. I still don't see a reason to bring NAT in scope.

[2021-01-08 16:04] mirjak commented on #15
I didn't request to remove the requirements; I only asked to reorganise the document a bit because I think that would greatly help the discussion to focusing on those things which are IP specific. At least @kazuho made a similar comment in the jabber during the last session. I don't think he is aware of the discussion on this issue though. Please re-open the issue as I don't think we reached any c

[2021-01-08 16:10] achernya commented on #14
@mirjak The text is about network handling; but the issue title you chose doesn't make sense to me. I believe @DavidSchinazi and I are on the same page here.

[2021-01-08 16:10] mirjak commented on #12
@achernya You need to read the text in the charter completely:

`Impacts on address migration, NAT rebinding, and future multipath mechanisms of QUIC are not anticipated. However, the working group should document these impacts, or those of any other QUIC developments, if they arise.`

This paragraph of on changes or extension to QUIC which are not anticipated. This is not about any proxy function

[2021-01-08 16:14] mirjak commented on #12
@DavidSchinazi I think we are still taking past each other as we have a different IP proxying solution in mind. One solution to provide an IP address that doesn't leak privacy information is to perform NAT at the proxy. I'm not saying that this is the solution we need to end up with but I don't see a reason to rule it out from the beginning.

[2021-01-08 16:18] mirjak commented on #14
Okay, looking at this again, this is clarified now in the document. However, I still don't see the point about having the non-requirement in the  document. How can this choice impact the protocol design? If there is no impact, I think we should still simply remove it.

[2021-01-08 16:20] DavidSchinazi commented on #12
@mirjak what makes you think we're ruling it out? It being out of scope just means it doesn't need to be in the core protocol. WireGuard and IPsec both do not discuss any need for NAT, but are commonly deployed in combination with a NAT. MASQUE will be the same.

[2021-01-08 16:22] achernya commented on #14
I do not agree with the statement "If there is no impact, I think we should still simply remove it.". Like David, I think explicitly enumerating non-goals for the document is an important practice to avoid scope creep.

[2021-01-08 16:23] mirjak commented on #12
The difference that I explicitly would like to see NAT in masque not as a separate function that can be deployed together with the masque proxy but as an integrated function that the proxy explicitly provides and the client explicitly can request.

[2021-01-08 16:24] achernya commented on #12
@mirjak I believe the charter text supports my position. We are not affecting, or impacting, QUIC developments.

I think whether NAT is a separate function or not is orthogonal: extensions can be implemented as integrated or external capabilities. A client can explicitly request a capability with an extension.

[2021-01-08 16:25] mirjak commented on #14
I don't understand what the scope creep is in this case if there is no impact on the protocol. You could equally have a requirement that the layer 2 technology that is used underneath IP is out of scope but that would also not really be any helpful.

[2021-01-08 16:27] mirjak commented on #12
I don't think that we reached agreement that this should only be an extension and not part of the core protocol. An even if we end up as an extension that means to me that it is not a non-requirement. I think this need more discussion with the rest of the working group (hopefully in the meeting next week).

[2021-01-11 11:56] mirjak commented on #6
I saw that you added a section on "Reliable Transmission of IP Packets" in the extension part of the document. However, the section on Flow control is unmodified. Two points:

1) I'm not sure what the requirement on flow control actually requests. It says " guidance on how best to use flow control". As mentioned by others this is rather a matter of QUIC and I'm not sure what kind of guidance you a

[2021-01-11 12:05] mirjak commented on #1
How was this issue addressed? I think this is one of the main points we need to discuss and probably more text in the document would be useful as well.

[2021-01-11 12:07] mirjak commented on #9
The scenario that the author have in mind is still not fully clear to me. Can you please further explain?

[2021-01-11 12:08] mirjak commented on #13
I think this discussion about if any kind of compression should be an extension or part of the core protocol is not concluded.

[2021-01-11 18:36] DavidSchinazi commented on #6
Apologies for the lack of details, the text that was aimed at addressing this issue was the [Configuration of Congestion and Flow Control](https://tools.ietf.org/html/draft-ietf-masque-ip-proxy-reqs-01#section-4.4) subsection.

[2021-01-11 18:38] DavidSchinazi commented on #1
This issue was solved by clarifying the fact that this protocol proxies IP packets, not addresses or subnets, and specifying that any route exchange is purely informational. If that didn't address your concern, I might have misunderstood the concern - in that case can you elaborate?

[2021-01-11 18:39] DavidSchinazi commented on #9
Reopening, @achernya can you add some text to this subsection to clarify what the intent is?

[2021-01-11 18:45] achernya commented on #9
The new text already includes

Is this not clear @mirjak

[2021-01-11 22:53] #9 closed

[2021-01-12 11:29] mirjak commented on #1
I was mostly referring to @gloinul comments and thinking that we probably need to say more about address validation anyway. Yes the proxy doesn't need to trust but does it decide?

[2021-01-12 11:36] mirjak commented on #6
Ah, I missed that new section. That section makes sense for congestion control but not sure what it means for flow control. You don't need flow control if you don't buffer, however, if have a reliable transport you have to retransmit and then you need flow control and buffering. So the part that should be configurable is reliability (which is covered by 4.3).

My comments above still stand. In sec

[2021-01-20 13:27] mirjak commented on #12
I created PR #21 for the address assignment section.

However, the now requirements part is still not clear to me. I would actually like to see a requirement that NAT can be handled as integrated part of the masque proxy and not only as a separate function.

[2021-01-20 13:51] mirjak opened #24 "HTTP/2 fallback"
The requirements draft says

`The protocol SHOULD also support HTTP/2 {{!H2=RFC7540}} as a fallback when UDP is blocked on the network path.`

and the charter says

`The working group will consider fallback to versions of HTTPS that operate over TCP as a mitigation to UDP or HTTP/3 blocking.`

However both of these sentences aren't hard requirement and I think we should have a bit more discussion

[2021-01-20 13:55] mirjak opened #25 "Route Negotiation requirement"
This requirement is still not fully clear to me. Can you maybe explain a bit more the scenario/use case where the peer needs this information about route changes mid-session? Is this really required in the base protocol?

[2021-01-20 18:49] achernya commented on #12
I took a look at PR #21 but I don't think it's suitable for inclusion in the current state. I'm having a hard time understanding what you are trying to achieve, which is hindered by the typos and other issues in the proposed text. Let's continue this discussion on the PR thread.

[2021-01-20 18:55] achernya commented on #24
I believe a MASQUE fallback to H2 is desirable. I do not believe this imposes any significant constraints on the base protocol other than a requirement to support multiple Data Transports, which are already in the requirements document. @DavidSchinazi any thoughts?

[2021-01-20 18:56] achernya commented on #25
An example scenario would be a network-to-network VPN. Imagine the case where you have two networks, A and B. The administrator of A adds subnet 1.2.3.0/24 and updates their routing announcements. For B to learn of this, there would need to be a provision for exchanging routing information over the protocol.

[2021-01-21 09:54] mirjak commented on #24
Can you future say why you think it is desirable? I think that the important information for this discussion.

I don't disagree that is might not impose any significant constraints, however, that depends on the actually solution and not a good reason to have a requirement. My question basically is if we want to weaken this requirement as it seem less important compared to others, and if we maybe a

[2021-01-21 09:56] mirjak commented on #25
I think this should be an extension for later or maybe even a separate protocol as this is only need for one specific use case.

[2021-01-21 15:45] mirjak opened #26 "Proxying of IP packets"
So there are two scenarios here: One is the network-to-network where the client receives and IP and feeds that into the QUIC tunnel to the proxy. The other scenario, e.g. in the VPN case, is where the client is the origin of the data transfer. In this case it could be easier if the client only feeds the IP payload into the tunnel and does need to worry about the IP header at all. I would like to s

[2021-01-21 23:09] DavidSchinazi commented on #24
It's say it's more than desirable - it's required. Here are scenarios where you cannot connect directly to the server if the proxied connection fails:
1. if the server is only accessible via VPN
2. if the client uses IP proxying to protect its privacy from its ISP

Based on those, we need the protocol to function when UDP is blocked, and therefore operate over HTTTP/2.

[2021-01-21 23:21] DavidSchinazi commented on #26
@mirjak can you elaborate on your use-case? Where are you thinking of deploying it, on what kind of network and with what kind of traffic?

[2021-01-21 23:24] DavidSchinazi commented on #25
You can't proxy IP packets without knowing which packets should be proxied. You need routes for an IP-layer tunnel to work. This isn't a specific use-case, it's a fundamental property of an IP tunnel.

[2021-01-22 03:16] sysrqb commented on #13
Following this topic being raised at the interim, I'd also like to explicitly call out the fact that proxying unmodified IP packets will allow IP stack fingerprinting of the client on the other side of the proxy.

Either:
  1. the client serializes necessary header fields and payload, and the proxy constructs a new IP packet
  2. or, the packet is transported unmodified and the proxy provides a la

[2021-01-22 22:39] DavidSchinazi commented on #13
Hi @sysrqb can you elaborate on this IP stack fingerprinting please? Do you have a reference for what algorithm the attacker would use to determine the IP stack based on fields observed in the IP header?

[2021-01-25 14:52] achernya commented on #24
Thanks @DavidSchinazi for outlining this. In particular, we've heard from some potential partners that their network infrastructure blocks udp/443 but tcp/443 is allowed, so having the fallback is important for functionality while they work through the process to support more modern protocols.

Given that this seems to be a pretty clear requirement for two use cases, I recommend we close out this

[2021-01-25 15:03] achernya commented on #26
I believe the scenario Mirja describes as "in the VPN case [...] easier if the client only feeds the IP payload into the tunnel and does need to worry about the IP header at all" is not an accurate representation of VPN technologies today. Commercial VPN providers, such as Palo Alto Networks, Cisco AnyConnect, as well as open source solutions like Wireguard all operate at the virtual NIC level, pr

[2021-01-25 15:06] achernya commented on #25
I propose closing this issue -- I believe this has been thoroughly addressed.

[2021-01-25 15:42] achernya commented on #13
I am not aware of any OS/client fingerprinting that works on the IP headers. I am aware of this for the TCP stack, namely [p0f](https://lcamtuf.coredump.cx/p0f3/).

Fingerprinting resistance in this manner is not really possible with IP proxying. The proposed solution of (1) would still be vulnerable to this (if fingerprinting on IP headers was possible) since there could be enough entropy in the

[2021-01-25 17:48] mirjak commented on #25
That's a specific implementation detail and not a requirement.

[2021-01-25 17:49] achernya commented on #25
@mirjak can you please elaborate? How is a fundamental property of an agreed-upon use case not a requirement?

[2021-01-25 17:57] mirjak commented on #24
@DavidSchinazi there is today usually also the option to fallback to TCP and HTTP CONNECT when UDP is blocked. I'm not saying that we shouldn't consider a fallback to H2, I just want to understand if that is a strong requirement or more a nice-to-have (which might actually be easy enough to realised that we well might end up with support it).

@achernya not sure which use case and which partner yo

[2021-01-25 18:00] achernya commented on #24
@mirjak That's the point: the partners prioritize "functioning" over "efficient", and it's a lot easier to direct a partner to an FAQ on how to make something work better than to require it to work at all.

There is also prior art here; I believe Cisco AnyConnect uses TLS over TCP if DTLS is not available.

To me, this makes H2 fallback a hard requirement.

[2021-01-26 20:32] sysrqb commented on #13
(Sorry, I began writing a response and then got pulled away)

@achernya mostly covered what I was going to say. In particular, my memory was a little fuzzy and I realize that, in retrospect, my wording was too strong regarding the OS fingerprintability using only IP packet headers. The only concerning field I know about is the initial TTL, and that generally partitions connections between "unix-li

[2021-01-29 16:14] mirjak commented on #26
The single IP endpoint model, as you name it, is what we have in mind for ATSSS in 3GPP. There is already a solution for TCP and CONNECT-UDP would address QUIC traffic, however, a tunnel based solution in a mobile network would also be required to handling any other kind of IP traffic.

[2021-01-29 16:22] mirjak commented on #25
If the proxy is connected to the "open" Internet and not assumed to connect to "just" another network, it's not a requirement. So this is only needed for the x-to-network use cases but not for others.

[2021-01-29 16:27] achernya commented on #26
Thank you for providing a specific use case, the ATSSS for 3GPP. Could you please help me understand what sort of IP traffic exists on the mobile networks that you need to handle that cannot already be handled with CONNECT or CONNECT-UDP? I would have expected the vast majority of mobile traffic to be TCP or QUIC already, which if true, means that any non-TCP, non-UDP IP traffic should be comparat

[2021-01-29 16:28] achernya commented on #25
I disagree. A proxy connected to the open internet has to advertise that it has a default route.

[2021-02-03 10:36] mirjak commented on #26
Most traffic on mobile network is TCP or UDP, however, as there is a requirement from 3GPP that a multipath solution should be able to address all kind of traffic as mobile networks are a general purpose network. And I guess there are actually also newer use case for e.g. industry automatisation where you might expect a lot more other kind of traffic.

[2021-04-13 18:42] DavidSchinazi commented on #2
While this would be a useful editorial change, we're not going to publish this document as an RFC so it's not worth the time required to make this change. I'm therefore closing this issue.

[2021-04-13 18:42] #2 closed

[2021-04-15 20:58] tfpauly commented on #12
I think we can fix this by changing this language to be clearly about the "core" CONNECT-IP spec, but not rule out extensions.

So change this:

[code]

to this:

[code]

[2021-04-15 21:02] achernya commented on #12
Tommy, would you like to submit a PR or have one of us prepare it?

[2021-04-15 21:13] gloinul commented on #25
So for the cases where a single endpoint borrows (or being assigned by the peer) an address or a set from the peer then that address comes out of an network that the peer controls and have routes. And that this address from the endpoint is similar to a case where the endpoint is on the same LAN as the peer. In that case you have very default rules when using this address. Thus any destination is e

[2021-04-15 21:15] achernya commented on #25
Yes, if you want to provide a default advertising a /0 would solve the
case. For a corporate / split horizon network you'd advertise individual
subnets. Even in the individual flow case I think a route (or subset of
routes) is a useful property.

On Thu, Apr 15, 2021, 5:13 PM Magnus Westerlund ***@***.***>
wrote:

[2021-04-15 22:07] tfpauly commented on #12
David beat me to it =)

[2021-04-16 08:17] mirjak commented on #12
I still don't really know why we need this text at all in the draft. And I really, really think that if a peer provides an IP range, we must at minimum discuss this in the security consideration section.

[2021-04-30 22:29] chris-wood opened #30 "Is Route Negotiation a requirement?"
In #25, in addition to editorial clarification, the question of whether or not route negotiation should be a core requirement was raised. Currently, the text [lists this as a requirement](https://ietf-wg-masque.github.io/draft-ietf-masque-ip-proxy-reqs/draft-ietf-masque-ip-proxy-reqs.html#name-route-negotiation). A proposal to replace this requirement with an extension was raised in #25. This issu

[2021-04-30 22:30] chris-wood commented on #24
Based on the interim meeting and April 27 consensus call, there is consensus to merge #28 and close this issue. Editors, can you please do so?

[2021-04-30 22:30] chris-wood commented on #12
Based on the interim meeting and April 27 consensus call, there is consensus to merge #29 and close this issue. Editors, can you please do so?

[2021-04-30 22:30] chris-wood commented on #26
Based on the previous meeting show of hands and April 27 consensus call, there is consensus to close this issue without any change. (That is, support for proxying packets remains a core requirement, and the document will neither require nor prohibit support for proxying payloads.)

[2021-04-30 22:31] chris-wood commented on #25
The chairs think #27 should be merged as editorial clarification. Issue #30 tracks the separate design question about whether or not route negotiation should be a requirement.

[2021-04-30 22:54] #24 closed

[2021-04-30 22:55] #12 closed

[2021-04-30 22:56] #26 closed

[2021-04-30 22:56] #25 closed

[2021-05-13 22:50] chris-wood commented on #30
Hearing no support for this proposal, we're closing this with no action and will begin WGLC and larger review shortly.

[2021-05-13 22:50] #30 closed

[2021-05-17 12:59] mirjak commented on #26
I just want to record here that I don't think there was consensus on taking one or the other approach. And I would still like to see an additional requirement that the base protocol should also consider to IP proxying where unmodified forwarding of the entire IP header is not required.

[2021-05-17 13:02] mirjak opened #31 "IP Assignment request"
The requirement on IP Assignment only specifies that the client or server can "request" an IP address (or range). However, for an VPN like use case it would be sufficient if the proxy just selects an address and tells the client. I think both cases should be covered in the requirement. This is proposed in PR #21

[2021-05-17 15:47] DavidSchinazi commented on #31
Agreed, I've written up #32 to address this.

[2021-05-17 16:22] mirjak commented on #31
Thanks for creating this PR. I think it would also be nice, if an address was assigned, to signal this to the peer. Can we also cover this in this requirement?

[2021-05-17 16:33] DavidSchinazi commented on #31
@mirjak good point, done.

[2021-05-17 16:45] #31 closed